$yellow : #FFF83E;
$green: #91EFA4;
$blue: #48C6FF;
$lightBlue: #F2F5FF;
$boldBlue: #2351EB;
$red: #FF7DB9;
$orange: #FFC143;
$border: #F2F5FF;
$black: #212121;
$grey: #616161;

body {
    padding: 200px;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 158px;
    border-radius: 5px;
    filter: drop-shadow(0px 2px 6px rgba(35, 81, 235, 0.251));
    background-color: white;
    color: $boldBlue;

    .arrow {
        width: 0;
        height: 0;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 15px solid white;

        position: absolute;
        left: 70px;
        top: -15px;
    }

    svg {
        width: 12px;
        height: 12px;
        margin-right: 8px;
        fill: $boldBlue;
    }

    .hightLight {
        //position
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid $border;

        .color {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: red;
            opacity: .4;
            transition: .3s all;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }

        #yellow {
            background-color: $yellow;
        }

        #green {
            background-color: $green;
        }

        #blue {
            background-color: $blue;
        }

        #red {
            background-color: $red;
        }

        #orange {
            background-color: $orange;
        }
    }

    .section {
        padding: 10px 0;
        text-align: center;
        border-bottom: 1px solid $border;
        transition: .3s all;
        cursor: pointer;

        &:hover {
            background-color: #F2F5FF;
        }
    }

    .noteDetail {
        width: 240px;
        padding: 8px 10px;
        border-radius: 0 5px 5px 5px;
        position: absolute;
        left: 160px;
        top: 40px;
        filter: drop-shadow(0px 2px 6px rgba(35, 81, 235, 0.1));
        background-color: #fff;

        .dropdown {
            color: $black;
            padding: 5px 5px 5px 20px;

            .dropdown-btn {
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
            }

            .dropdown-content {
                filter: drop-shadow(0px 2px 6px rgba(35, 81, 235, 0.1));
                background-color: #fff;
                padding: 8px 10px;
                border-radius: 5px;
                position: absolute;

                input {
                    background: url("https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-512.png") top left no-repeat;
                    height: 22px;
                    width: 91%;
                    font-size: 14px;
                    color: $boldBlue;
                    border-radius: 5px;
                    background-color: $lightBlue;
                    border: none;
                    padding: 6.5px 8px;
                    margin-bottom: 5px;
                }

                .item {
                    display: flex;
                    align-items: center;
                    svg {
                        path {
                            fill: $boldBlue;
                        }
                    }

                    p {
                        margin: 6px 0;
                    }
                }
            }

            svg {
                path {
                    fill: $grey;
                }
            }
        }

        textarea {
            font-size: 14px;
            resize: none;
            width: 100%;
            border-radius: 5px;
            background-color: $lightBlue;
            border: none;
            height: 105px;
        }

        .addBtn {
            padding: 5px 0;
            text-align: center;
        }
    }
}